<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
      <h2>パスワード変更</h2>
      <p>パスワードを入力してください。この情報は後から変更することが出来ます。</p><br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <table class="table_singup">
          <tbody>
            <tr>
              <th class="pa10px40px">メールアドレス</th>
              <td>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="pa10px40px">現在のパスワード</th>
              <td>
                <div class="field">
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="pa10px40px">新しいパスワード</th>
              <td>
                <div class="field">
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <!--  < if @minimum_password_length %>
                  <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  < end %> -->
                </div>
              </td>
            </tr>
            <tr>
              <th class="pa10px40px">新しいパスワード(確認用)</th>
              <td>
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="actions">
                  <%= f.submit "パスワードを変更する", class:"btn btn-success btn-lg"  %>
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>

<%= link_to "Back", :back %>
