<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar', products: @genre_status_products, gyms: @genre_status_gyms %><!-- サイドバーcol-xs-2 -->
    <div class="col-xs-9"><!-- 左右に余白、中央に配置 -->
      <h2>お気に入りフィットネスクラブ一覧</h2>
      <div class="row">
        <div class="gymsallcount">
          全<%= @gyms_all.count %>件
        </div>
        <%= paginate @gyms %>
      </div>
      <div class="row">
        <% @gyms.each do |gym| %>
          <div class="col-xs-4" style="border:1px solid #444444; background:#222222;  padding: 3px; margin-top: 3px;">
            <div class="gymbox">
              <!-- 画像 -->
              <div class="gym-image-favorite-positon">
              <%= link_to customers_gym_path(gym.id), {class: "gym-link"} do %>
                <%= image_tag gym.gym_picture_id.to_s,  size:"285x285" %>
              <% end %>
              </div>
          <%= link_to customers_gym_path(gym.id), {class: "gym-link"} do %>
              <!-- ブランド -->
              <div class="gymbrand-index">
                <%= gym.gym_brand.truncate(15) %>
              </div>
              <!-- 紹介文 -->
              <div class="gymdescription-index">
                <%= gym.gym_name.truncate(30) %><br>
              </div>
              <!-- スター平均 -->
              <div class="gymstar-index" id="star-rate-<%= gym.id %>">
              </div>
              <script>
                // turbolinks:loadはページの切り替えを検知するイベント
                $(document).on('turbolinks:load', function() {
                  $('#star-rate-<%= gym.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    half: true,
                    readOnly: true,
                    score: <%= gym.gym_comments.average(:gym_rate).to_f.round(1) %>,
                    //注目ポイント↑ 平均点を算出し、round関数で切り上げ
                  });
                });
              </script>
              <!-- 平均評価数 -->
              <div class="gymaverage-index">
                <% if gym.gym_comments.average(:gym_rate).to_i == 0  %>
                0点
                <% else %>
                  <%= gym.gym_comments.average(:gym_rate).round(1) %>点
                <% end %>
              </div>
              <!-- クチコミ合計数 -->
              <div class="gymreviewcount-index">
                　口コミ<%= gym.gym_comments.count %>件
              </div>
          <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="gymsallcount">
          全<%= @gyms_all.count %>件
        </div>
        <%= paginate @gyms %>
      </div>
    </div>
  </div>
</div>