<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><!-- 左右に余白、中央に配置 -->
      <h1>会員情報編集</h1>
      <p>会員情報を入力してください。入力後「編集内容を保存する」ボタンをクリックしてください。尚、退会をご希望される場合は「退会」ボタンをクリックしてください。</p><br>

    <% if @customer.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @customer, url: '/customers/fix',local: true do |f| %>
      <table class="table_singup">
        <tbody>
          <tr>
            <th class="table-title"><%= f.label :プロフィール画像 %></th>
            <td>
              <div class="field">
                <%= f.file_field :customer_picture_id %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="table-title">お名前<span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.label :姓 %><br>
                <%= f.text_field :name_sei, autofocus: true %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :名 %><br>
                <%= f.text_field :name_mei %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="table-title">お名前(フリガナ)<span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.label :セイ %><br>
                <%= f.text_field :yomi_sei %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :メイ %><br>
                <%= f.text_field :yomi_mei %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="table-title"><%= f.label :ニックネーム %><span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.text_field :nickname %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="table-title", rowspan="4"><%= f.label :ご住所 %><span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.label :郵便番号 %><br>
                <%= f.text_field :postal_code, id: "customer_postal_code"  %><br>半角数字で入力してください（ハイフン不要）
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= f.label :都道府県 %><br>
                <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,  :name, :name, id: "customer_prefecture_code" %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= f.label :市区町村 %><br>
                <%= f.text_field :address_city, id: "customer_address_city" %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= f.label :町名番地 %><br>
                <%= f.text_field :address_street, id: "customer_address_street" %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <th class="table-title"><%= f.label :電話番号 %><span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.telephone_field :tell %><br>半角数字で入力してください（ハイフン不要）
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <th class="table-title"><%= f.label :メールアドレス %><span class="required">【必須】</span></th>
            <td>
              <div class="field">
                <%= f.email_field :email %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="confirm-btn">
                <%= f.submit "保存する", class:"btn btn-success"%>
              </div>
              <div class="withdrawal-btn">
                <%= link_to "退会する", customers_withdraw_path, class:"btn btn-danger" %>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

