<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
      <h1>会員情報編集</h1>
      <p>会員情報を入力してください。入力後「編集内容を保存する」ボタンをクリックしてください。尚、退会をご希望される場合は「退会」ボタンをクリックしてください。</p><br>


    <% if @customer.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= form_with model: @customer, url: '/customers/fix',local: true do |f| %>
      <table class="table_singup">
        <tbody>

          <tr>
            <th class="pa10px40px"><%= f.label :プロフィール画像 %></th>
            <td colspan="2">
              <div class="field">
                <%= f.file_field :customer_picture_id %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <th class="pa10px40px">お名前</th>
            <td>
              <div class="field">
                <%= f.label :姓 %><br>
                <%= f.text_field :name_sei, autofocus: true %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :名 %><br>
                <%= f.text_field :name_mei, autofocus: true %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="pa10px40px">お名前(フリガナ)</th>
            <td>
              <div class="field">
                <%= f.label :セイ %><br>
                <%= f.text_field :yomi_sei, autofocus: true %>
              </div>
            </td>
            <td>
              <div class="field">
                <%= f.label :メイ %><br>
                <%= f.text_field :yomi_mei, autofocus: true %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="pa10px40px"><%= f.label :ニックネーム %></th>
            <td colspan="2">
              <div class="field">
                <%= f.text_field :nickname, autofocus: true %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <th class="pa10px40px", rowspan="4"><%= f.label :ご住所 %></th>
            <td colspan="2">
              <div class="field">
                <%= f.label :郵便番号 %><br>
                <%= f.text_field :postal_code, autofocus: true, id: "customer_postal_code"  %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="field">
                <%= f.label :都道府県 %><br>
                <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,  :name, :name, autofocus: true, id: "customer_prefecture_code" %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="field">
                <%= f.label :市区町村 %><br>
                <%= f.text_field :address_city, autofocus: true, id: "customer_address_city" %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="field">
                <%= f.label :町名番地 %><br>
                <%= f.text_field :address_street, autofocus: true, id: "customer_address_street" %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <th class="pa10px40px"><%= f.label :電話番号 %></th>
            <td colspan="2">
              <div class="field">
                <%= f.text_field :tell, autofocus: true %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <th class="pa10px40px"><%= f.label :メールアドレス %></th>
            <td colspan="2">
              <div class="field">
                <%= f.email_field :email, autofocus: true %>
              </div>
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="3">
              <div class="actions">
                <%= f.submit "編集内容を保存する", class:"btn btn-primary"%>
              </div>
              <div class="actions">
                <%= link_to "退会する", customers_withdraw_path, class:"btn btn-danger" %>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

