<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
      <h2>Items</h2>
        <p><%= link_to "全#{Product.all.count}件" %></p><br>
      <div class="row">
    		<div class="col-xs-4">
      			<% @products.each do |product| %>
      				<%= attachment_image_tag product, :picture, format:'jpeg', size:"223x223" %><br>
      				<%= product.product_brand %><br>
      				<%= product.product_name %><br>
      				<!-- 評価<= > --><br>
      				<!-- 口コミ合計数<= > --><br>
      				<!-- お気に入り<= > --><br>
      				<%= product.price_with_tax(product.product_price) %>円<br>
      			<% end %>
      	</div>
      </div>
    </div>
  </div>
</div>


