<div class="container">
	<div class="row">
		<%= render 'layouts/sidebar', products: @genre_status_products, gyms: @genre_status_gyms %><!-- サイドバーcol-xs-2 -->
		<div class="col-xs-9"><!-- 左右に余白、中央に配置 -->
			<h1><%= @product.product_name %></h1>
			<div class="row" style="background:#CCCCCC; margin-top:40px;">
				<div class="col-xs-5">
					<div class="productimage">
						<%= image_tag @product.product_picture_id.to_s,  size:"320x320" %><br>
					</div>
				</div>
				<div class="col-xs-7">
					<!-- 総合評価<= > --><br>
					<div class="productbrand">
						<%= @product.product_brand %><br>
					</div>
					<div class="productdescription">
						<%= @product.product_description %><br>
					</div>
				</div>
			</div>
					<div class="productprice">
					定価：<%= @product.price_with_tax(@product.product_price) %>円(税込)<br>
					</div>

			<!-- 楽天api -->
			<!-- amazonapi -->
			<%= render 'customers/product_comments/product_comment', product: @product, product_comment: @product_comment, product_comments: @product_comments  %>

		</div>
	</div>
</div>