<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar', products: @genre_status_products, gyms: @genre_status_gyms %><!-- サイドバーcol-xs-3 -->

		<div class="col-xs-9"><!-- 左右に余白、中央に配置 -->

			<h1><%= @product.product_name %></h1>
        <% if customer_signed_in? %>
          <p>スポーツ商品の詳細を表示しております。
          </p>
        <% else %>
          <p>お気に入りやコメントはログイン後追加することができます。
          </p>
        <% end %>
			<div class="row" style="background:#CCCCCC;">
				<div class="col-xs-5">
          <!-- 画像 -->
					<div class="productimage">
						<%= image_tag @product.product_picture_id.to_s,  size:"320x320" %><br>
					</div>
          <!-- お気に入り -->
          <div class="product-favorite-show">
            <div id = "product_favorite_btn_<%= @product.id %>">
              <!-- create.jsとdestroy.jsに範囲を送るための記述 -->
              <%= render "customers/product_favorites/product_favorite", product: @product %><br>
            </div>
          </div>
				</div>
				<div class="col-xs-7">
					<!-- ブランド -->
					<div class="productbrand-show">
						<%= @product.product_brand %><br>
					</div>
          <!-- スター平均 -->
          <div class="productstar-show" id="star-rate-<%= @product.id %>">
          </div>
        		<script>
          		// turbolinks:loadはページの切り替えを検知するイベント
          		$(document).on('turbolinks:load', function() {
            		$('#star-rate-<%= @product.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= @product.product_comments.average(:product_rate).to_f.round(1) %>,
                  //注目ポイント↑ 平均点を算出し、round関数で切り上げ
            		});
          		});
        		</script>
        		<!-- 平均評価数 -->
         		<div class="productaverage-show">
            	<!-- 評価なければ0点、あれば四捨五入 -->
            	<% if @product.product_comments.average(:product_rate).to_i == 0  %>
                0点
              <% else %>
                <%= @product.product_comments.average(:product_rate).round(1) %>点
              <% end %>
           	</div>
           	<!-- クチコミ合計数 -->
            	　口コミ<%= @product.product_comments.count %>件
					<div class="productdescription">
						<%= @product.product_description %><br>
					</div>
				</div>
			</div>
           	<!-- 価格 -->
						<div class="productprice-show">
							定価：<%= @product.price_with_tax(@product.product_price) %>円(税込)<br>
						</div>

			<!-- 楽天api -->
			<!-- amazonapi -->


			<!-- クチコミ投稿フォーム -->
			<h3>クチコミと評価を投稿する</h3>
			<div class="row" style="margin-top:40px;">

				<%= render 'customers/product_comments/product_comment', product: @product, product_comment: @product_comment  %>
			</div>
			<!-- クチコミ一覧表示 -->
       <h3>クチコミ一覧（<%= @product.product_comments.count %>）件
        </h3>
			<div class="row" style="margin-top:40px;">
				<div class="col-xs-12" >
					<%= render 'customers/product_comments/product_comment_index', product: @product, product_comment: @product_comment, product_comments: @product_comments  %>
      	</div>
      </div>
          <%= paginate @product_comments %>
		</div>
	</div>
</div>