<div class="container">
	<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			<h1><%= @gym.gym_name %></h1>
        <% if customer_signed_in? %>
          <p>フィットネスクラブの詳細を表示しております。
          </p>
        <% else %>
          <p>お気に入りやコメントはログイン後追加することができます。
          </p>
        <% end %>
			<div class="row" id="gym-show">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <!-- 画像 -->
					<div class="gymimage">
						<%= image_tag @gym.gym_picture_id.thumb.url, id:"gym-show-img" %><br>
					</div>
          <!-- お気に入り -->
          <div class="gym-favorite-show">
            <div id = "gym_favorite_btn_<%= @gym.id %>"><!-- create.jsとdestroy.jsに範囲を送るための記述 -->
              <%= render "customers/gym_favorites/gym_favorite", gym: @gym %><br>
            </div>
          </div>
				</div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <!-- ブランド -->
					<div class="gymbrand-show">
						<%= @gym.gym_brand %>
					</div>
         	<!-- スター平均 -->
        	<div class="gymstar-show" id="star-rate-<%= @gym.id %>">
         	</div>
					<script>
        		// turbolinks:loadはページの切り替えを検知するイベント
        		$(document).on('turbolinks:load', function() {
          		$('#star-rate-<%= @gym.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= @gym.gym_comments.average(:gym_rate).to_f.round(1) %>,
                //注目ポイント↑ 平均点を算出し、round関数で切り上げ
          		});
        		});
      		</script>
         	<!-- 平均評価数 -->
					<div class="gymaverage-show">
          	<% if @gym.gym_comments.average(:gym_rate).to_i == 0  %>
              0点
            <% else %>
              <%= @gym.gym_comments.average(:gym_rate).round(1) %>点
            <% end %>
          </div>
         	<!-- クチコミ合計数 -->
          	口コミ<%= @gym.gym_comments.count %>件
         	<!-- 紹介文 -->
					<div class="gymdescription">
						<%= @gym.gym_description %><br>
					</div>
				</div>
			</div>

			<h3>アクセス情報</h3>
			<div class="row" style="margin-top:40px;">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<!-- MAP -->
          <%= render 'customers/gyms/map', gym: @gym %>
				</div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<table class="table_access">
						<thead>
							<tr>
								<th class="gym-table-title">郵便番号</th>
								<td>
									<!-- 郵便番号 -->
									<div class="gympostalcode">
										〒 <%= @gym.gym_postal_code %>
									</div>
								</td>
							</tr>
							<tr>
								<th class="gym-table-title">住所</th>
								<td>
									<!-- 住所 -->
									<div class="gymaddress">
										<%= @gym.prefecture_code %>
										<%= @gym.address_city %>
										<%= @gym.address_street %>
									</div>
								</td>
							</tr>
							<tr>
								<th class="gym-table-title">電話番号</th>
								<td>
									<!-- 電話番号 -->
									<div class="gymtell">
										<%= @gym.gym_tell %>
									</div>
								</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>

			<!-- クチコミ投稿フォーム -->
			<h3>クチコミと評価を投稿する</h3>
			<div class="row" style="margin-top:40px;">

					<%= render 'customers/gym_comments/gym_comment', gym: @gym, gym_comment: @gym_comment %>
			</div>
			<!-- クチコミ一覧表示 -->
      <h3>クチコミ一覧（<%= @gym.gym_comments.count %>）件
        </h3>
			<div class="row" style="margin-top:40px;">
				<div class="col-xs-12" >
					<%= render 'customers/gym_comments/gym_comment_index', gym: @gym, gym_comment: @gym_comment, gym_comments: @gym_comments  %>
				</div>
			</div>
					<%= paginate @gym_comments %>
		</div>
    <%= render 'layouts/sidebar', products: @genre_status_products, gyms: @genre_status_gyms %><!-- サイドバーcol-md-3 col-lg-3 -->
	</div>
</div>