<div class="container">
	<div class="row">
		<%= render 'layouts/sidebar', products: @genre_status_products, gyms: @genre_status_gyms %><!-- サイドバーcol-xs-3 -->
		<div class="col-xs-9"><!-- 左右に余白、中央に配置 -->
			<h1>フィットネスクラブ クチコミ投稿一覧</h1>
	          <p>ご掲載いただいた口コミを確認、削除することができます。
	          </p>
				<%= paginate @gym_comments %>
			  <% @gym_comments.each do |gym_comment| %>
			  <div class="row">
			    <div class="gymcomment-customer">
			      <!-- 投稿日時 -->
			      <div class="gymcomment-time">
			        投稿日時：<%= gym_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
			      </div>
			      <!-- ニックネーム -->
			        投稿者：<%= current_customer.nickname %>さん　
			          <!-- <= link_to '口コミを編集', edit_post_path(post), method: :get, class:'btn btn-default' %> -->
			        <%= link_to '', customers_gym_gym_comment_path(gym_comment.gym.id, gym_comment), method: :delete, class:"fas fa-trash fa-lg trash_black" %>
			      <!-- カスタマー画像 -->
			      <div class="gymcomment-image">
			        <%= image_tag current_customer.customer_picture_id.to_s, size:"100x100" %>
			      </div>
			    </div>
			    <div class="gymcomment-all">
		      	<!-- 商品名 -->
		      		<%= link_to customers_gym_path(gym_comment.gym.id) do %>
			      		<div class= "gymcomment-name">
			      			<%= gym_comment.gym.gym_name.truncate(30) %>
			      		</div>
			      	<% end %>
			      <!-- 評価 -->
			        <h4>評価：<%= gym_comment.gym_rate %>点 | <%= gym_comment.gym_title %></h4>
			        <!--星評価-->
			      <div id="star-rate-<%= gym_comment.id %>"></div>
			        <script>
			          // turbolinks:loadはページの切り替えを検知するイベント
			          $(document).on('turbolinks:load', function() {
			            $('#star-rate-<%= gym_comment.id %>').raty({
			              size: 36,
			              starOff: "<%= asset_path('star-off.png') %>",
			              starOn: "<%= asset_path('star-on.png') %>",
			              starHalf: "<%= asset_path('star-half.png') %>",
			              half: true,
			              readOnly: true,
			              score: <%= gym_comment.gym_rate %>,
			            });
			          });
			        </script>
			      <!--コメント-->
			      <div class="gymcomment-comment">
			        <%= gym_comment.gym_comment %>
			      </div>
			      <!-- ジム名 -->
					<!-- <= link_to customers_gym_path(@gym), {class: "gymcomment-name"} do %>
			        	<=  gym_comment.gym.gym_name %>
			      	< end %> -->
			    </div>
			  </div>
			  <% end %>
				<%= paginate @gym_comments %>
		</div>
	</div>
</div>
