<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1"><!-- 左右に余白、中央に配置 -->
<h2>ログイン</h2>
  <p>メールアドレスとパスワードを入力後、ログインボタンをクリックしてください。</p><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <table class="table_singup">
    <tbody>
      <tr>
        <th class="pa10px40px">メールアドレス</th>
        <td>
          <div class="field">
            <!-- <= f.label :email %><br /> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </td>
      <tr>
        <th class="pa10px40px">パスワード</th>
        <td>
          <div class="field">
            <!-- <= f.label :password %><br /> -->
            <%= f.password_field :password, autocomplete: "current-password" %>
           </div>
        </td>
      </tr>
      <tr>
        <td colspan="2", class="pa10px40px">
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>
          <div class="actions">
             <%= f.submit "ログイン", class:"btn btn-success btn-lg" %>
          </div>
          <%= render "customers/shared/links" %>
        </td>
        <th></th>
      </tr>
    </tbody>
  </table>
<% end %>


</div>
</div>
</div>
</div>
</div>