    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <h4 class=name>ジム・フィットネスクラブ検索・スポーツ商品購入サイト</h4>
          </div>

          <!-- 検索フォーム -->
          <div class="col-xs-4">
            <div class=search>
              <%= form_with url: customers_searches_search_path, method: :get, local: true do |f| %><!-- form_withは架空のカラムを使用する際に使用。情報を送信するためのヘルパーメソッド※form_forはデータを保存する必要がある時 ※form_tagはフォームに入力されたデータを保存する必要がない時 -->
              <%= f.select :genre, [["CLUB", "club"], ["ITEM", "item"]] %>
              <%= f.select :direction, [["完全一致","完全一致"], ["前方一致", "前方一致"], ["後方一致", "後方一致"], ["部分一致","部分一致"]] %>
              <!-- 配列[[ 選択肢の表示名1, 実際に送信されるデータ1 ], [ 選択肢の表示名1, 実際に送信されるデータ2 ]] -->
              <%= f.text_field :search, placeholder: "検索ワードを入力" %>
              <!-- 検索ワードを入力を入力するための架空カラム -->
              <%= f.submit "検索" %>
              <% end %>
            </div>
          </div>
          <!-- 検索フォーム -->

            <div class="col-xs-5", style="text-align:center; padding: 0 180px 10px 0;">
              <%= link_to image_tag("headericon.gif", size:'200x100'), root_path %>
            </div>
          <div class="col-xs-7" style="padding:40px 0 0 40px">
          <ul class="nav navbar-nav navbar-center">
            <% if customer_signed_in? %>
            <li><%= link_to 'アバウト', customers_homes_about_path, class:"fas fa-cookie-bite" %></li>
            <li><%= link_to 'マイページ', customers_mypage_path, class:"fas fa-user-cog" %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li>
            <li><%= link_to 'お問い合わせ', new_customers_contact_path, class:"fas fa-user-cog" %></li>
            <li><%= link_to '商品一覧', customers_products_path %></li>
            <li><%= link_to 'ジム一覧', customers_gyms_path %></li>
            <!-- 変更 -->

            <% else %>
            <li><%= link_to 'アバウト', customers_homes_about_path, class:"fas fa-cookie-bite" %></li>
            <li><%= link_to '商品一覧', customers_products_path, class:"fas fa-cookie" %></li>
            <li><%= link_to '会員登録', '/customers/sign_up', class:"fas fa-user-plus" %></li>
            <li><%= link_to 'ログイン', new_customer_session_path, class:"fas fa-sign-in-alt" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      </div>
    </header>