<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>AllBodyChanges</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
  <footer>
           <div class="footer-btn">
             <%= link_to 'Top', root_path, class:"footer-link", data: {"turbolinks" => false} %>
             <%= link_to 'About', customers_homes_about_path, class:"footer-link", data: {"turbolinks" => false} %>
             <%= link_to 'Products', customers_products_path, class:"footer-link", data: {"turbolinks" => false} %>
             <%= link_to 'Gyms', customers_gyms_path, class:"footer-link", data: {"turbolinks" => false} %>
           </div>
   </footer>

</html>
