<!DOCTYPE html>
<html>
  <head>
    <title>AllBodyChanges</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li><%= link_to 'アバウト', customers_homes_about_path, class:"fas fa-cookie-bite" %></li>
              <li><%= link_to 'マイページ', customers_mypage_path, class:"fas fa-user-cog" %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li><!-- 変更 -->
              <li><%= link_to '退会画面', customers_withdraw_path, class:"fas fa-cookie-bite" %></li>
            <% else %>
              <li><%= link_to 'アバウト', customers_homes_about_path, class:"fas fa-cookie-bite" %></li>
              <li><%= link_to '商品一覧', customers_products_path, class:"fas fa-cookie" %></li>
              <li><%= link_to '会員登録', '/customers/sign_up', class:"fas fa-user-plus" %></li>
              <li><%= link_to 'ログイン', new_customer_session_path, class:"fas fa-sign-in-alt" %></li>
            <% end %>
        </nav>

      </div>
    </header>
    <%= yield %>
  </body>
</html>
